@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131932: #131932;
  --color-3b4149: #3b4149;
  --color-f3bd69: #f3bd69;
  --color-232f3e: #232f3e;
}
body {
  font-family: "Rubik", sans-serif !important;
}
a {
  text-decoration: none;
  display: inline-block;
}
p {
  margin-bottom: 0px;
}

/* Header Part */

.header-top-strip {
  background-color: var(--color-131932);
  border-bottom: 1px solid var(--color-3b4149);
}

.header-upper {
  background-color: var(--color-131932);
}

.header-upper .input-group-text {
  background-color: var(--color-f3bd69);
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.header-upper.header-upper-links img {
  width: 30px;
  height: 30px;
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom img {
  width: 20px;
  height: 20px;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-131932);
  width: 100%;
}
.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-f3bd69) !important;
}
.gap-10 {
  gap: 10px;
}

/* Header Part End */

/* Footer */

.footer-upper {
  background-color: var(--color-131932);
  border-bottom: 1px solid var(--color-232f3e);
}

.footer-upper p {
  color: #fff;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.footer-upper .btn {
  border: 5px solid #fff;
}
.footer-upper .btn:focus {
  box-shadow: none;
}

.footer-bottom {
  color: #fff;
  background-color: var(--color-131932);
}
/* Footer Part End */
.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}
