* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131932: #131932;
  --color-3b4149: #3b4149;
  --color-f3bd69: #f3bd69;
  --color-232f3e: #232f3e;
}
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
p {
  margin-bottom: 0px;
}

/* Header Part */

.header-top-strip {
  background-color: var(--color-131932);
  border-bottom: 1px solid var(--color-3b4149);
}

.header-upper {
  background-color: var(--color-131932);
}

.header-upper .input-group-text {
  background-color: var(--color-f3bd69);
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.header-upper.header-upper-links img {
  width: 30px;
  height: 30px;
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-bottom img.menu {
  width: 20px;
  height: 20px;
}
.header-bottom img.arrow {
  width: 15px;
  height: 15px;
}
.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

/* Header Part End */
